################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SharePoint 2016/Lists/DragAndDropList/DragAndDropLIst/bin/Debug
